# Dependencies
node_modules/

# Build outputs
dist/
.astro/
.agent/ 

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*.local

# OS Metadata
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# Tests
test-results/
playwright-report/
blob-report/
test-results/

# Pagefind
public/pagefind/
public/_pagefind/

# Nix
.direnv/
.envrc
.deploy.md
nixos/
result/
result
